export(RankingShrink, GradDescUpdate, ConstructVmat, ConstructAmat, FindLipschitz, RankPenalizedObj, GetInitialPars)
importFrom("stats", "dnorm")
importFrom("utils", "modifyList")
importFrom("optimg", "optimg")
